body {
    font-family: Varela, 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

div#topbar {
    font-family: Raleway, 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    background-color: #519151;
    color: #eee;
    height: 80px;
    margin-bottom: 30px;
}
div#heading a {
    color: #eee;
    font-size: 1.6em;
}

h1 {
    font-family: Raleway, 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    color: #333;
}
h2 {
    background-color: #fff;
    color: #333;
    text-decoration: underline;
}
h4 {
    color: #555;
    margin-bottom: 7px;
}
dl {
    margin-top: 7px;
}
dd {
    margin-left: 10px;
}

div#footer {
    width: 900px;
    margin: 50px auto 20px auto;
    padding: 10px;
    border-top: 1px #b1e1b1 solid;
    font-size: 0.8em;
}
div#footer #links {
    margin-top: 5px;
}