section {
    background-color: #1a1a1a;
}

.slides > article {
    font-family: Varela, 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    color: #222;
    background-color: #fff;

    transition: transform .3s ease-out, opacity .3s ease-out;
    -o-transition: -o-transform .3s ease-out, opacity .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out, opacity .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out, opacity .3s ease-out;
}

article.past,
article.next {
    opacity: 0.25;
}
article.far-past,
article.far-next {
    opacity: 0.1;
}

h1, h3, .presenter {
    font-family: Raleway, 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}

.presenter p,
.presenter p.link {
    font-size: 0.9em;
}

article h3 {
    font-size: 2em;
    padding: 0 0 .5em .1em;
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.75em;
}

article.first-slide h3,
article.last-slide h3 {
    font-size: 1.5em;
    border: 0;
    padding: 0;
    margin: 0;
}
article.first-slide h3.date {
    border-top: 1px solid #aaa;
    padding-top: 15px;
    margin-top: 20px;
}
article.last-slide {
    padding: 5em;
}

div.code {
    background-color: #F0F0F0;
    border: 1px solid #999;
    border-radius: 0px;
}
code {
    background-color: #F0F0F0;
    border-bottom: 1px solid #aaa;
}