body {
    font-family: Varela, 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

div#topbar {
    font-family: Raleway, 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    background-color: #e9e9e9;
    color: #444;
    height: 80px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 30px;
}
div#heading {
    font-size: 2em;
}

div#toc {
    border-color: #aaa;
    margin-bottom: 15px;
    background-color: #e9e9e9;
}

h1 {
    font-family: Raleway, 'Open Sans', 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    color: #333;
}
h2 {
    margin: 40px 0 30px 0;
    padding: 5px 10px;
    background-color: #e9e9e9;
    color: #444;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.container {
    margin-bottom: 30px;
}

.author > p {
    margin: 2px 0 0 20px;
}

div.code {
    background-color: #F0F0F0;
    border: 1px solid #999;
    border-radius: 0px;
    padding: 5px 10px;
}
code {
    background-color: #F0F0F0;
    border-bottom: 1px solid #aaa;
}